*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(/assets/img/fondo.webp);
}

header h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.password {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.boton1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton1 button {
    margin-top: 40px;
    width: 80px;
    height: 30px;
    align-self: center;
    border: 1px solid black;
    background-color: #8282f3;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.boton1 p {
    margin-top: 20px;
    align-self: center;
    font-size: 18px;
    font-weight: bolder;
}

.boton{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton button{
    background: none;
    border: none;
}

.boton i{
    margin-right: 5px;
    font-size: 20px;
    color: black;
}

